---
name: Run tests
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "30 8 * * *" # runs every day at 8:30 am

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-install-bazelisk:
    strategy:
      matrix:
        runner:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-14
          - macos-15
          - windows-2022
          - windows-2025
        bazelisk-version:
          - null
          - v1.23.0
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - name: Use the action
        uses: ./install-bazelisk
        with:
          bazelisk-version: ${{ matrix.bazelisk-version }}
      - name: Check if bazelisk is installed
        shell: bash
        run: |
          bazelisk --version

  all-tests-passable:
    if: always()
    needs:
      - test-install-bazelisk
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
